# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Exclude specific directories
parking_platform/uploads/
parking_platform/processed/cropped_signs/
